{% assign publications = site.data.data.publications %}
{% if publications %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ publications.title }}
  </h2>

  {% if publications.intro %}
  <div class="intro">
    {{ publications.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% if publications.subsections %}
    {% for subsection in publications.subsections %}
    <div class="publication-subsection">
      <p class="publication-subsection-title">{{ subsection.title }}</p>
      <ul class="publication-subsection-items">
        {% for item in subsection.items %}
        <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  {% endif %}

  {% if publications.papers %}
  <ul class="publications-list">
    {% for publication in publications.papers %}
    <li class="publication-line">
      {% if publication.link %}
        <a href="{{ publication.link }}">{{ publication.title }}</a>
      {% else %}
        {{ publication.title }}
      {% endif %}
      {% if publication.description %}
      <div class="publication-authors">{{ publication.description }}</div>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  {% endif %}

</section><!--//section-->
{% endif %}
